@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap');
@import 'node_modules/react-modal-video/scss/modal-video.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
/*.container{*/
/*    max-width: 1170px;*/
/*    margin: 0 auto;*/
/*    padding: 0 15px;*/
/*    width: 100%;*/
/*}*/
body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: black;
}
/*.col-3{*/
/*    width: 25%;*/
/*    padding: 0 15px;*/
/*}*/
/*.col-6{*/
/*    width: 50%;*/
/*    padding: 0 15px;*/
/*}*/
/*.row{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    margin: 0 -15px;*/
/*}*/
/*.page-btn{*/
/*    padding: 3px  15px;*/
/*    margin: 30px 10px;*/
/*    border: none;*/
/*    transition: 0.4s;*/
/*}*/
.user-img{
    width: 320px;
    height: 325px;
    object-fit: contain;
}
.poster{
    width: 100%;
}
.credits-img{
    width: 100%;
    object-fit: contain;
}
.film-img{
    max-width: 100%;
}
.person-img{
    width: 100%;
    object-fit: contain;
}