@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap');
@import 'node_modules/react-modal-video/scss/modal-video.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: black;
}

.user-img {
  width: 320px;
  height: 325px;
  object-fit: contain;
}

.poster {
  width: 100%;
}

.credits-img {
  width: 100%;
  object-fit: contain;
}

.film-img {
  max-width: 100%;
}

.person-img {
  width: 100%;
  object-fit: contain;
}

li {
  list-style: none;
}

.input-group-text {
  text-align: left;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.7);

}
.minus-margin {
  margin-top: -460px;
}